body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.container {
  border: grey solid 5px;
  border-radius: 4%;
  width: 300px;
  height: 100px;
  background-color: #c1d49c;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 28px;
}

#calculator-background {
  background-color: #5a5c68;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 5%;
}

.buttons {
  display: flex;
  gap: 5px;
  width: 330px;
  flex-wrap: wrap;
}

button {
  width: 75px;
  height: 50px;
  background-color: #3a3d46;
  cursor: pointer;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-radius: 20px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #f44336;
  color: white;
}

#btn-clear,
#btn-on-off {
  font-size: 16px;
}

#btn-on-off {
  background-color: rgb(156, 0, 0);
}

.btn-operands {
  background-color: #bcc0c7;
}

.right-align {
  text-align: right;
}

#row-zero {
  color: white;
  padding: 5px;
  font-style: italic;
}

#btn-sum {
  width: 150px;
  background-color: rgb(156, 0, 0);
}
